@media (max-width: 768px) {
    .mobile-menu-btn {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: var(--bg-color);
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }


    .menu.active .desktop-menu a {
        font-size: 24px;
        width: 100%;
        text-align: start;
        margin-left: 32px;
    }
    .menu.active .desktop-menu {
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important;
        width: 100%;
        /* text-align: end; */
    }

    .menu.active {
        display: flex;
    }

    .about-content {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(77deg, #FBED96 0%, #ABECD6 100%);
        border-radius: 22px;
        margin: 30px 16px 30px 16px;
    }

    .hero .container h1 {
        font-size: 22px;
        font-family: 'NunitoRegular', sans-serif;
        color: var(--title-color);
    }

    .hero .container p {
        font-size: 32px;
        margin: 0 auto;
        color: var(--title-color);
        font-family: 'NunitoBold', sans-serif;
        text-align: center;
    }

    h2.section-title {
        text-align: start;
        font-size: 42px;
        margin-bottom: 0px;
        color: var(--title-color);
        font-family: 'NunitoBold', sans-serif;
    }
}